@model bookStore.Models.Author

@{
    ViewBag.Title = Model.Name;
}

<h2>Книги од @Model.Name</h2>
<ul>
    @foreach(bookStore.Models.Book a in Model.Books)
    {
         <li>
        <a href="/Books/Details/@a.Id">@a.Name</a>
          </li>
    }
</ul>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
