@model bookStore.Models.Author

@{
    ViewBag.Title = Model.Name;
}

<h2>Книги од @Model.Name</h2>
<ul>
    @foreach(bookStore.Models.Book a in Model.Books)
    {
         <li>
        <a href="/Books/Details/@a.Id">@a.Name</a>
          </li>
    }
</ul>
<p>
    @if (User.IsInRole("Administrator"))
    {
        @Html.ActionLink("Промени", "Edit", new { id = Model.Id }, new { @class = "btn btn-default"})<br />
    }
    @Html.ActionLink("Листа од автори", "Index", null, new { @class = "btn btn-default" })
</p>
