
@{
    ViewBag.Title = "Книги";
}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.semanticui.min.css" />
</head>

<h2>Книги</h2>

<p>
    @Html.ActionLink("Додади нова книга", "Create")
</p>
<table class="ui celled table" id="booksTable">
    <thead>
        <tr>
            <th>
                Наслов
            </th>
            <th>
                Автор
            </th>
            <th>
                Жанр
            </th>
            <th>
                Цена
            </th>
            <th>
                Јазик
            </th>
            <th>

            </th>
            <th></th>
        </tr>
    </thead>

</table>

@section Scripts{
    <script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.semanticui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#booksTable").DataTable({
                ajax: {
                    url: "/Books/getBooks",
                    type: "POST",
                    datatype: "json"
                },
                columns: [
                    {
                        data: "Name", name: "Name",
                        render: function (settings, type, album) {
                            return "<a href='/Books/Details/" + album.Id + "'>" + album.Name + "</a>";
                        }
                    },
                    {
                        data: "Author", name: "Author",
                        render: function (settings, type, album) {
                            return "<a href='/Authors/Details/" + album.AuthorId + "'>" + album.Author + "</a>";
                        }
                    },
                    {
                        data: "Genre", name: "Genre",
                        render: function (settings, type, album) {
                            return "<a href='/Genres/Details/" + album.GenreId + "'>" + album.Genre + "</a>";
                        }
                    },
                    {
                        data: "Price", name: "Price"
                    },
                    {
                        data: "Language", name: "Language"
                    },
                    {
                        data: "ImageURL", name: "ImageURL",
                        render: function (settings, type, album) {
                            return "<img src='" + album.ImageURL + "' style='max-width:200px;max-height:200px'/>";
                        }
                    }
                ],
                serverSide: "true",
                "order": [0, "acs"],
                "processing": "true",
                "language": {
                    "processing": "Податоците се лоадираат..."
                }
            });
        });
    </script>
}
