@model bookStore.Models.Genre

@{
    ViewBag.Title = "Browse";
}

<h2>Browsing genre: @Model.Name</h2>

<ul>
    @foreach (var book in Model.Books)
    {
        <li>
            <a href="@Url.Action("Details", "Books", new { area = "", id = @book.Id })">@book.Name</a>
        </li>
    }
</ul>