
#templatemo_container {
    width: 960px;
    margin: 0 auto;
    padding: 0 10px;
    background: #1c1c1b url(../Content/images/templatemo_bg.jpg) repeat-y;
}

#templatemo_footer {
    clear: both;
    width: 952px;
    padding: 20px 0px 20px 0;
    text-align: center;
    border-top: 1px solid #25211e;
    color: #999;
    background-color: #111110;
    margin-left: -2px;
}

.cleaner_with_width {
    float: left;
    width: 20px;
    height: 30px;
    font-size: 1px;
}

.cleaner {
    clear: both;
    width: 100%;
    height: 1px;
    font-size: 1px;
}

.detail_button a {
    clear: both;
    text-align: center;
    display: block;
    width: 100px;
    padding: 4px 0 5px 0;
    margin-bottom: 10px;
    background: url(../Content/images/templatemo_btn_01.jpg) no-repeat;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    margin-left: 137px;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    font-family: Verdana, Arial, san-serif;
    font-size: 11px;
    color: #ffffff;
    background: #4b4743;
}

.buy_now_button a {
    margin-left: 139px;
    margin-top: -158px;
    clear: both;
    text-align: center;
    display: block;
    width: 100px;
    padding: 4px 0 5px 0;
    margin-bottom: 10px;
    background: url(../Content/images/templatemo_btn_02.jpg) no-repeat;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

#templatemo_content_right h3 {
    padding: 0;
    margin: 0 0 20px 0;
    font-size: 18px;
    color: #ffffff;
}

.templatemo_product_box .product_info {
    float: left;
    width: 180px;
}

div {
    display: block;
}

.templatemo_product_box img {
    float: left;
    margin-right: 20px;
}

img {
    margin-top: -14px;
    padding: 2px;
    margin-left: 8px;
    border: none;
    max-width: 165px;
    max-height: 145px;
}

.templatemo_product_box h1 span {
    font-weight: normal;
}

#templatemo_content_right h1 {
    padding: 10px;
    margin: 0 0 20px 0;
    font-size: 15px;
    color: #cbc750;
    background: url(../Content/images/templatemo_h1_bg.jpg);
}

#templatemo_content_right .templatemo_product_box {
    float: left;
    width: 303px;
    height: 240px;
    padding: 10px;
    border: 1px solid #333;
    margin-bottom: 15px;
}

#templatemo_content #templatemo_content_right {
    float: right;
    width: 670px;
}

.templatemo_content_left_section ul li a {
    font-weight: normal;
    text-decoration: none;
    color: #969547;
}

.templatemo_content_left_section ul li {
    padding: 0 0 3px 10px;
    list-style: none;
}

.templatemo_content_left_section ul {
    padding: 0;
    margin: 0;
}

.templatemo_content_left_section h1 {
    font-size: 14px;
    color: #cbc750;
    padding: 0 0 5px 0;
    margin: 0 0 10px 0;
    border-bottom: 1px dotted #cbc750;
}

#templatemo_header {
    clear: both;
    width: 951px;
    height: 285px;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    margin-left: -1px;
}

#templatemo_content {
    clear: both;
    width: 920px;
    padding: 0 20px;
}

    #templatemo_content #templatemo_content_left {
        float: left;
        width: 188px;
        padding: 10px;
        background-color: #171716;
        border: 1px solid #212120;
        margin-left: -20px;
    }

#templatemo_content_left .templatemo_content_left_section {
    clear: both;
    padding-bottom: 10px;
    border-bottom: 1px solid #2b2b2a;
    margin-bottom: 20px;
}
